
<h1>Create Your Event!</h1>
<div id="errors">
  <% if @errors %>
      <h3> Whoops, something went wrong!</h3>
        <ul>
          <% @errors.each do |error| %>
          <li><%= error%></li>
          <% end %>
        </ul>

  <% end %>    
</div>

<form action='/events/create' method='post'>
  <input type='text' name='organizer_name' value="<%= @name %>" placeholder="Enter Your Name"><br>
  <input type='text' name='organizer_email' value="<%= @email %>" placeholder="e.g. organizer@event.com"><br>
  <input type='text' name='title' value="<%= @title %>" placeholder="Name of Event"><br>
  <input type='date' name='date' value="<%= @date %>" placeholder="Date of Event"><br>
  <input type='submit' value='Create Event'>
</form>
